*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    
    background-image: linear-gradient(to right, rgb(224, 243, 154) , rgb(225, 245, 240));
}
a{
    text-decoration: none;
    
}

header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 80px;
    align-items: center;
    margin-top: 1%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(70, 69, 69);
}

.head-name{
flex: 1;
font-family: 'Pacifico', cursive;
font-size: 30px;
}
#hh{
    color: black;
}

.about{
    margin-right: 1%;
}
.about1{
flex: 1;
justify-content: flex-end;
font-family: 'Poppins', sans-serif;
color: rgb(61, 65, 64);

}
.about1:hover{
    text-decoration: underline;
}

.heading{
    width: 90%;
    margin: auto;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.heading a{
    color: black;
}

.notes{
    width: 90%;
    margin: auto;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.arm{
    display: flex;
    background-color: #c2e44a;
    width: 360px;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 5px;
    transition: background-color 1000ms;
    margin-bottom: 13%;
}

.arm:hover{
    background-color: #5d692e;
}

.module{
    display: flex;
    background-color: #c2e44a;
    width: 360px;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 5px;
    transition: background-color 1000ms;
    margin-top: 13%;
    margin-bottom: 13%;
}

.module:hover{
    background-color: #5d692e;
}

.programs{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 33px;
}

.programs div{
    font-size: 19px;
}



footer{
    width: 100%;
    background-color: black;
    margin: auto;
    
    margin-top: 4%;
}


.wrap{
    
    display: flex;
    margin: auto;
    width: 90%;
    height: 110px;
    align-items: center;
}
.copy a{
    color: white;
}
.copy{
    opacity: 70%;
    display: flex;
    font-size: 13px;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    color: white;
    justify-content: center;
    margin: auto;
    
}
.foot{
    flex: 1;
    
}
.designed{
    margin-left: 3%;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(to right, rgb(64, 111, 155),rgb(184, 194, 202));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;    
}
    
    
.social{
    
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    margin-right: 1%;
}

.social a{
    margin-left: 4%;
}

#pakkala{
    font-family: 'Poppins', sans-serif;
}


  
  .fa:hover {
      opacity: 0.7;
      color: darkturquoise;
  }
  
  .fa-facebook {
    
    color: white;
  }
  
  .fa-twitter {
   
    color: white;
  }
  
  
  .fa-linkedin {
    
    color: white;
  }

  .fa-instagram {
  
    color: white;
  }
  .fa-github {
  
    color: white;
  }


  
  @media screen and (max-width: 725px) {
    #svit{
        font-size: 22px;
        margin-bottom: 8%;
    }
    .arm{
        width: 200px;
       height: 60px;
       font-size: 30px;
    }

    .module{
        display: flex;
    flex-direction: column;
    text-align: center;
        width: 200px;
       height: 60px;
       font-size: 30px;
    }

    .programs{
        font-size: 27px;
    }

    .programs div{
        margin-top: -4%;
        font-size: 13px;
    }

    .designed{
        font-size: 10px;
    }
    .social{
        font-size: 10px;
        margin-top: 1%;
    }
    footer{
        margin-bottom: 0px;
        padding-bottom: 0%;
        margin-top: 6%;
    }
    .wrap{
        height: 60px;
    }
    .copy{
        font-size: 8px;
    }
}